 <div class="paginator">
        <button class="paginator-btn paginator-btn-prev">
            <span class="visuallyhidden">Previous Page</span>
        </button>
        <ul class="pager">
            <li><a class="active" aria-label="Page 1 of 3 selected" href="">1</a></li>
            <li>
                <a class="" aria-label="Page 2 of 3 selected" href="">2</a>
            </li>
            <li>
                <a class="" aria-label="Page 3 of 3 selected" href="">3</a>
            </li>
        </ul>
        <button class="paginator-btn paginator-btn-next">
            <span class="visuallyhidden">Next Page</span>
        </button>
    </div>

